* 
{
    box-sizing: border-box;
}

body
{
margin: 0;

}

.entrypage
{
    background-image: url("/static/images/landingbg.jpg");
    background-size: cover;
   width: 100vw;
   height: 100vh;
   display: flex;
   flex-flow: column;
   align-items: center;
   justify-content: center;
}

.entrytext
{
    font-family: monospace, 'Courier New', Courier, monospace;
    color: white;
    font-size: 3rem;
}


.downarrow {
    width: 4rem;
    margin-top: 4rem;
    height: 4rem;
    transform: scale(1);
    transition: transform 0.3s ease;
}

.downarrow:hover {
    transition: transform 0.3s ease;
    transform: scale(1.4);
}


.fade {
    opacity: 1;
    visibility: visible;
    width: 100vw;
    height: 100vh;
    transition: opacity 0.3s ease, visibility 0.5s ease, height 0.5s ease;

}

.fade.hidden {
    opacity: 0;
    visibility: hidden;

    height: 0vh;
}

.hidden {
    visibility: hidden;
}


.loginpane
{
    background-size: cover;
    overflow-y: hidden;
    height: 100vh;
    width: 100vw;
    background-image: url("/static/images/landingbg.jpg");
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;

}

.formholder 
{
    background-color: red;
    max-width: 50vw;
    height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    text-align: center;
}

.formformatter
{
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 1fr 1fr 1fr;
    margin-left: 10rem;
}

.formformatterregister
{
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    margin-left: 10rem;
}

.formlabelusername
{
    grid-column: 1/1;
}

.formlabelpassword
{
    grid-column: 1/1;
}

.formlabelusername, .formlabelpassword 
{
font-size: 1.5rem;
font-family: monospace, 'Courier New', Courier, monospace;
color: white;
}

.logininput
{
    width: 50%;
    margin-left: 1rem;
}

.formsubmit
{
grid-column: 1/3;

justify-self: center;
margin-right: 7rem;
width: max-content;
padding: 1rem;
margin-top: 1rem;
font-size: 2rem;
font-family: 'Courier New', Courier, monospace;
border-radius: 10px;
  
 
}



.glassy-background {
    background: rgba(169, 169, 169, 0.5);
    /* Semi-transparent gray */
    color: black;
    /* Black text color */
    padding: 20px;
    border-radius: 10px;
    backdrop-filter: blur(10px);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    width: 100%;
}

.notregistered
{
    margin-top: 2rem;
    color: white;
}

.loginlogo
{
    width: 15rem;
    height: 15rem;
    border-radius: 100px;
    margin-top: 2rem;
}

.smallerlogo 
{
    width: 8rem;
    height: 8rem;
}