* 
{
    box-sizing: border-box;
}

body
{
margin: 0;
max-height: 80%;
}

.entrypage
{
    background-image: url("/static/images/landingbg.jpg");
    background-size: cover;
   width: 100vw;
   height: 100vh;
   display: flex;
   flex-flow: column;
   align-items: center;
   justify-content: center;
}

.entrytext
{
    font-family: monospace, 'Courier New', Courier, monospace;
    color: white;
    font-size: 3rem;
}


.downarrow {
    width: 4rem;
    margin-top: 4rem;
    height: 4rem;
    transform: scale(1);
    transition: transform 0.3s ease;
}

.downarrow:hover {
    transition: transform 0.3s ease;
    transform: scale(1.4);
}


.fade {
    opacity: 1;
    visibility: visible;
    width: 100vw;
    height: 100vh;
    transition: opacity 0.3s ease, visibility 0.5s ease, height 0.5s ease;

}

.fade.hidden {
    opacity: 0;
    visibility: hidden;

    height: 0vh;
}

.hidden {
    visibility: hidden;
}


.loginpane
{
    background-size: cover;
    overflow-y: hidden;
    height: 100vh;
    width: 100vw;
    background-image: url("/static/images/landingbg.jpg");
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;

}

.formholder 
{
    background-color: red;
    max-width: 50vw;
    height: 80vh;
    height: max-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    text-align: center;
}

.formformatter
{
    display: grid;
    grid-template-columns: 3fr;
    grid-template-rows: 1fr 1fr 1fr;

}

.formformatterregister
{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
  gap: 1rem;
   
}

.formlabelusername
{
    grid-column: 1/1;
}

.formlabelpassword
{
    grid-column: 1/1;
}

.formlabelusername, .formlabelpassword 
{
font-size: 1.5rem;
font-family: monospace, 'Courier New', Courier, monospace;
color: white;
}

.logininput
{
    width: 50%;
    height: 50%;

    align-self: center;
    justify-self: center;

    background-color: rgba(255, 255, 255, 0.5);

}
.underline-input {
  border: none;
  border-bottom: 2px solid gray;
  background-color: transparent;
  outline: none;
  padding: 5px;
  font-size: 16px;
  width: 70%;
  transition: border-bottom 0.3s ease-in-out;
}

.underline-input:focus {
  border-bottom: 2px solid blue;
}

.formsubmit
{
grid-column: 1/3;

justify-self: center;

width: max-content;
padding: 1rem;
margin-top: 1rem;
font-size: 2rem;
font-family: 'Courier New', Courier, monospace;
border-radius: 10px;
  
 
}



.glassy-background {
    background: rgba(169, 169, 169, 0.5);
    /* Semi-transparent gray */
    color: black;
    /* Black text color */
    padding: 20px;
    border-radius: 10px;
    backdrop-filter: blur(10px);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    width: 100%;
}

.notregistered
{
    margin-top: 2rem;
    color: white;
}

.loginlogo
{
    width: 15rem;
    height: 15rem;
    border-radius: 100px;
    margin-top: 2rem;
}

.smallerlogo 
{
    width: 8rem;
    height: 8rem;
}


.userhomepagemain
{
    background-color: #A8D5BA;
    width: 100vw;
    max-height: 100vh;
    display: grid;
    grid-template-columns: 1.8fr 9fr;
    grid-template-rows: 1fr 10fr;
}

.usernamegardentext
{
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.8rem;
    align-self: center;
    justify-self: center;
    

}

.datebox
{
    background-color: #A8D5BA;
    display: grid;
    grid-template-columns: 1fr 3fr 10fr;
   
}

.logobox
{
    align-self: center;
    justify-self: center;
    
}

.userlogo
{
align-self: center;
justify-self: center;
  width: 6rem;
  height: 6rem;
  border-radius: 201px;
  margin-top: 0.1rem;
}

.datetime
{
  
    align-self: center;
    justify-self: center;
    font-size: 1.3rem;
    font-family: 'Courier New', Courier, monospace;
}

.navlist
{
  
  
  padding: 1rem;
}

.innerlist
{
    list-style: none;
}

.contentpane
{
    background-color: white;
    max-height: 100%;
    overflow-y: scroll;
    
}





.nav-button {
    background-color: #A8D5BA;
    color: #2E6A47; 
    border: 2px solid #7EC8E3; 
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: 600;
    text-transform: uppercase;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
    margin-bottom: 1rem;
    min-width: 100%;
    max-width: 100%;
  }

  .search-submit, .random-plant {
    margin-left: 1rem;
    margin-top: 1rem;
    padding: 12px 20px;
    font-size: 18px;
    font-weight: bold;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    text-transform: uppercase;
    width: max-content;
    height: max-content;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    margin-bottom: 2rem;
}

.searchinput 
{
  margin-left: 1rem;
  width: 50%;
}


.search-submit {
    background-color: #4CAF50;
    color: white;
    display: inline;
}

.search-submit:hover {
    background-color: #45a049;
    box-shadow: 0 6px 8px rgba(0, 128, 0, 0.3);
}


.random-plant {
    background-color: #FF9800;
    color: white;
}

.random-plant:hover {
    background-color: #e68900;
    box-shadow: 0 6px 8px rgba(255, 140, 0, 0.3);
}

  

  .nav-button:hover {
    background-color: #7EC8E3; 
    color: #F6E2B3; 
    transform: scale(1.05);
  }
  

  .nav-button:active {
    background-color: #FFB6A4; 
    color: #2E6A47;
    transform: scale(0.98);
  }
  
  
  

  
  .nav-button:focus {
    
    outline: none;
    
    box-shadow: 0 0 5px 2px #D6A6E6; 
    
  }
  
  
  .plantbox {

    width: 100%;
    max-height: 100%;
    overflow-y: scroll;
  }

  .plantentry
  {
   border-bottom: 2px solid black;
    width: 100%;
    max-height: 10%;
    overflow-y: hidden;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 10fr));
    padding: 1rem;
    
  }

  .plantitemimage
  {
    width: 10rem;
    height: 10rem;
    margin-left: 1rem;
    align-self: center;
    justify-self: center;
  }

  .plantitemname
  {

    max-width: 12rem;
    word-wrap: break-word;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
    font-size: 2rem;
    margin-top: 0;
    margin-bottom: .5rem;
  }

  .namediv
  {
    display: flex;
    flex-direction: column;
    max-width: 100%;
    min-width: 50%;
    align-items: center;
    justify-items: center;
    align-content: center;
    justify-content: center;
  }


  .infodiv
  {
    padding: .5rem;
    display: grid;
    border: 2px solid black;
    max-height: min-content;
    min-width: 200px;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: repeat(4, 1fr);
    column-gap: 0.5rem;
    row-gap: 0.5rem;
    grid-column: 3/5;

  }
  .infodiv2
  {
    grid-column: 5/7;
  }

  .infodivtitle
  {
    border: 1px 2px 2px solid black;
    margin: 0;
 
    text-align: center;
    font-weight: bolder;
    margin-right: 0rem;
  padding-bottom: 0.3rem;
}


.infodivinfotitle
{
    vertical-align: auto;
    border-bottom: black;
margin: 0;
margin-right: 0;
padding-bottom: 0.5rem;

}


.add-to-plants, .add-to-garden {
    padding: 10px 16px;
    font-size: 16px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: all 0.3s ease;
    font-weight: bold;
    width: max-content;
    height: max-content;
  }
  

  .add-to-plants {
    background-color: #4CAF50; 
    box-shadow: 0 4px 6px rgba(0, 128, 0, 0.2);
  }
  
  .add-to-plants:hover {
    background-color: #45a049;
    box-shadow: 0 6px 8px rgba(0, 128, 0, 0.3);
  }
  

  .add-to-garden {
    background-color: #FF9800; 
    color: white;
    box-shadow: 0 4px 6px rgba(255, 140, 0, 0.2);
  }
  
  .add-to-garden:hover {
    background-color: #e68900;
    box-shadow: 0 6px 8px rgba(255, 140, 0, 0.3);
  }
.button-holder 
{
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
    align-items: center;
    justify-content: center;
    grid-column: 7;
}

.cardplantdisplay
{
  display: flex;
padding: 2rem;
  width: 100%;
  height: 100%;
  gap: 2rem;
  flex-wrap: wrap;
  overflow-y: scroll;
}

.plantcard
{
width: fit-content;
height: min-content;
border: 2px solid black;
display: grid;
grid-template-columns: 1fr;
grid-template-rows: auto;

box-sizing: border-box;
}
.cardimageholder
{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  height: min-content;
  justify-items: center;
}

.cardinfobox
{
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: auto;
height: min-content;
  align-content: center;
justify-content: stretch;
  justify-items: center;
}
.cardinfotext
{
  font-weight: normal;
  width: 100%;
  margin: 0;
  padding-top: 1rem;
 display: inline-block;
  outline: 1px solid black;
  vertical-align: middle; 
  text-align: center;
}

.cardinfotitle
{
  padding-top: 1rem;
  padding-left: 1rem;
  vertical-align: baseline; 
  font-weight: bolder;
  width: 100%;
  display: inline-block;
  margin: 0;
  outline: 1px solid black;

}

.cardinfobutton
{
  margin-top: 1rem;
  
  width: max-content;
  margin-left: 1rem;
  margin-right: 1rem;
}

.galleryplantimage
{
  width: 10rem;
  height: 10rem;
}

.plantname {
  font-weight: bolder;
  font-size: 2rem;
}

.remove-plant-btn {
  background-color: #f8b4b4;
  
  color: #fff;
  font-family: 'Arial', sans-serif;
  font-size: 16px;
  height: 5rem;
  margin-top: 1rem;
  padding: 12px 20px;
  border-radius: 25px;
  border: 2px solid #f8b4b4;
  cursor: pointer;
  transition:  all 3.3s ease;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);

  color: white;

}

.remove-plant-btn:hover {
  background-color: #f35c5c; 
  border-color: #f35c5c;
  transform: translateY(-3px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

.remove-plant-btn:active {
  background-color: #e24747; 
  transform: translateY(0);
}

.remove-plant-btn:focus {
  outline: none;
}

.disabled {
  transform: scale(0.5);  
  opacity: 0; 
  pointer-events: none; 
  cursor: default; 
}