<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/static/images/bbfavicon.png" type="image/x-icon">
    <link rel="stylesheet" href="/static/css/styles.css">
    <title>Register</title>
</head>
<body>


    <div class="loginpane">


        <div class="formholder glassy-background">
            <form action="/registernewuser" method="POST">
                <img class="loginlogo smallerlogo" src="/static/images/bblogo.jpg" alt="mainlogo">
        
                <h1 class="entrytext">Welcome to Blossom Blueprint</h1>
                <h2 class="entrytext">Register an account to get started</h2>
                <div class="formformatterregister">
                  
                    <input type="text" required class="logininput underline-input" name="username" id="username" placeholder="Username"> 
                    <br>
                    
                    <input type="password" placeholder="Password" required  class="logininput underline-input" name="password" id="password">
                    <br>
               
                    <input type="email" required class="logininput underline-input" name="email" id="email" placeholder="Email">
                    

                    <button class="formsubmit" type="submit">Submit</button>
                </div>
               
              
        </div>

    </div>





</form>
</body>
</html>